<ul class="newmenu__list">
    <li class="has__child">
        <a href="#">vinhos</a>
        <div class="newmenu__list-sub">
            <ul class="newmenu__list-nv2">
                <li><a href="#">em destaque</a>
                    <ul class="newmenu__list-nv3">
                        <li><a href="#"><strong>Novidades</strong></a></li>
                        <li><a href="#"><strong>Novidades</strong></a></li>
                        <li><a href="#"><strong>Novidades</strong></a></li>
                        <li><a href="#"><strong>Novidades</strong></a></li>
                        <li><a href="#"><strong>Novidades</strong></a></li>

                    </ul>
                </li>
            </ul>
            <ul class="newmenu__list-nv2">
                <li><a href="#">em destaque</a>
                    <ul class="newmenu__list-nv3">
                        <li><a href="#"><strong>Novidades</strong></a></li>
                        <li><a href="#"><strong>Novidades</strong></a></li>
                        <li><a href="#"><strong>Novidades</strong></a></li>
                        <li><a href="#"><strong>Novidades</strong></a></li>
                        <li><a href="#"><strong>Novidades</strong></a></li>

                    </ul>
                </li>

            </ul>
            <ul class="newmenu__list-nv2">
                <li><a href="#">Tipos de uva</a>
                    <ul class="newmenu__list-nv3">
                        <li><a href="#">Cabernet Souvignon</a></li>
                        <li><a href="#">Cabernet Souvignon</a></li>
                        <li><a href="#">Cabernet Souvignon</a></li>
                        <li><a href="#">Cabernet Souvignon</a></li>
                        <li><a href="#"><strong>ver todos</strong></a></li>
                    </ul>
                </li>

            </ul>
            <ul class="newmenu__list-nv2">
                <li><a href="#">Tipos de uva</a>
                    <ul class="newmenu__list-nv3">
                        <li><a href="#">Cabernet Souvignon</a></li>
                        <li><a href="#">Cabernet Souvignon</a></li>
                        <li><a href="#">Cabernet Souvignon</a></li>
                        <li><a href="#">Cabernet Souvignon</a></li>
                        <li><a href="#"><strong>ver todos</strong></a></li>
                    </ul>
                </li>

            </ul>
            <ul class="newmenu__list-nv2">
                <li><a href="#">Tipos de uva</a>
                    <ul class="newmenu__list-nv3">
                        <li><a href="#">Cabernet Souvignon</a></li>
                        <li><a href="#">Cabernet Souvignon</a></li>
                        <li><a href="#">Cabernet Souvignon</a></li>
                        <li><a href="#">Cabernet Souvignon</a></li>
                        <li><a href="#"><strong>ver todos</strong></a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <div class="category__image">
            <a href="#">
                <img src="/arquivos/promo.jpg" />
            </a>
        </div>
    </li>
    <li><a href="#">vinhos</a></li>
    <li><a href="#">vinhos</a></li>
    <li><a href="#">vinhos</a></li>
    <li><a href="#">vinhos</a></li>
    <li><a href="#">vinhos</a></li>
    <li><a href="#">vinhos</a></li>
    <li><a href="#">outlet</a></li>
</ul>