<div class="banner__historia" style="background: url('/arquivos/bghistoria.png');">
    <div class="banner__historia-left">
        <span>
            tradição em <br /> importar <br>
            <strong>experiências</strong>
        </span>
        <img src="/arquivos/bannerhistoria1.png" />
    </div>
    <div class="banner__historia-right">
        <img src="/arquivos/50anos.png" />
        <p>Com um portfólio de mais de 1.000 itens de importação própria provenientes de mais de 20 países, são centenas
            de rótulos, de produtores de vários continentes e com diversas faixas de preços.
            Uma seleção criteriosa que representa o que hoje de melhor se produz em todo o mundo. Casa Flora. Cultura de
            mesa.</p>
        <a href="#">nossa história</a>
    </div>
</div>