<div class="bannerhtml1" style="background: url('/arquivos/bgpasta.png');">
    <div class="bannerhtml1-left">Especial<br />
        Pasta</div>
    <div class="bannerhtml1-center"><img src="/arquivos/banner1img.png"></div>
    <div class="bannerhtml1-right">
        <p>Uma seleção de massas e molhos para fazer pratos deliciosos!</p>
        <a href="#">confira</a>
        <img src="/arquivos/selo.png">
    </div>
</div>


<div class="bannerhtml2">
    <div class="bannerhtml2-container">
        <div class="bannerhtml2-left">
            Gin
       </div>
    <div class="bannerhtml2-botton">
    <p>Os melhores gins para as melhores ocasiões.</p>
            <a href="/vinhos/Massas?PS=12&map=c,specificationFilter_40">veja mais</a>
       </div>
        <div class="bannerhtml2-center"><img src="/arquivos/banner2img.png"></div>
        <div class="bannerhtml2-right">
            <img src="/arquivos/selo2.png">
        </div>
    </div>
</div>

<div class="bannerhtml3">
    <div class="bannerhtml3-container">
        <div class="bannerhtml3-left">
            cer <br/>
            ve  <br/>
            jas <br/>
       </div>
    <div class="bannerhtml3-botton">
        <p>Uma seleção de cervejas incríveis esperando por você.</p>
            <a href="/vinhos/Massas?PS=13&map=c,specificationFilter_40">confira</a>
       </div>
        <div class="bannerhtml3-center"><img src="/arquivos/banner3img.png"></div>
    </div>
</div>
</div>