<div class="content__product">
    <div class="attr__product">
        <div class="attr__product-left">
            <span><strong>Comentário do</strong>
                Sommelier</span>
            <p>A Espanha no seu melhor. Um vinho frutado com uma cor rubi profunda e aromas intensos de frutas
                vermelhas. Uvas nativas dos melhores vinhedos de regiões diversificadas como um bom vinho espanhol.</p>
        </div>
        <div class="attr__product-right">
        </div>
    </div>

    <div class="banner__produtor">
        <img src="/arquivos/bannerprod.png" />
    </div>

    <div class="analise__sensorial"></div>

    <div class="product__harm"></div>

</div>