<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
    xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">

<head>
    <vtex:template id="00-casaflora-head" />
</head>

<body id="product-page">
    <div class="wrapper">
        <vtex:template id="00-casaflora-menu" />

        <div class="wrapper__container">
            <vtex:template id="00-casaflora-header" />

            <div class="product__breadcrumb">
                <div class="breadcrumb">
                    <vtex.cmc:breadCrumb />
                </div>
            </div>

            <main class="main" id="main">
                <div class="product__bg">
                    <div class="product__container">
                        <div id="produto" class="product__image">
                            <vtex.cmc:ProductImage zoom="on" />
                            <div class="labels product__labels">
                                <div class="labels-colection" role="group">
                                    <span class="labels-discount">
                                        <vtex.cmc:discountHightLight />
                                    </span>
                                    <span class="labels-featured">
                                        <vtex.cmc:HightLight />
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="product__info">
                            <div class="product__sku-review">
                                <h1 class="product__name">
                                    <vtex.cmc:productName />
                                </h1>
                                <span class="product__code">
                                    <vtex.cmc:skuReference /></span>
                            </div>

                            <div class="product__prices">

                                <div class="product__description product__description--short">
                                    <span class="description-title">Diferenciais do produto</span>
                                    <div class="description-short">
                                        <vtex.cmc:productDescriptionShort />
                                    </div>
                                </div>

                                <div class="product__attrs product__attrs--dimensoes" data-attr="Dimensões"></div>
                                <div class="product__attrs product__attrs--outras-informacoes"
                                    data-attr="Outras informações"></div>
                                <div class="product__actions" data-component="wholesale-actions">
                                    <a href="#selecioneasvariacoes" class="product__variants">CLIQUE E SELECIONE AS
                                        CORES</a>
                                </div>
                                <!--  Component: Sales channels -->
                                <vtex.cmc:SalesChannelDropList />

                                <!--  Component: Addicional services -->
                                <vtex.cmc:stockKeepingUnitService />

                                <div class="product__variations-single">
                                    <vtex.cmc:stockKeepingUnitSelection />
                                </div>

                            </div>
                            <div class="product__right--colunm">
                                <div class="product__right--colunm--wrapper">
                                    <div data-component="countdown"></div>
                                    <!--  Component: Sellers -->
                                    <vtex.cmc:SellerOptions />

                                    <div class="product__price" data-component="wholesale-prices"></div>
                                    <div class="product__price">
                                        <vtex.cmc:skuPrice />
                                    </div>



                                    <div class="product__variations" data-component="wholesale"></div>

                                    <div class="product__actions" data-component="wholesale-actions">
                                        <button disabled="disabled" type="button" class="product__buy">COMPRAR</button>
                                    </div>

                                    <div class="product__actions product__actions--button">
                                        <div class="product__buy-qtds">
                                            <div class="product__qtds">
                                                <div class="qtds">
                                                    <button class="qtds__button qtds__button--less" type="button"> -
                                                    </button>
                                                    <input type="number" class="qtds__input" />
                                                    <button class="qtds__button qtds__button--more" type="button"> +
                                                    </button>
                                                </div>
                                            </div>
                                            <vtex.cmc:BuyButton />
                                        </div>
                                    </div>

                                    <div class="buy__now">
                                        <div class="buy__now-product" data-id="">
                                            <span>Adicionar ao carrinho</span>
                                        </div>
                                    </div>

                                    <ul class="product__ruler">
                                        <li>Frete grátis</li>
                                        <li>Compra 100% segura</li>
                                    </ul>



                                    <div class="product__shipping">
                                        <vtex.cmc:shippingValue />
                                        <script type="text/javascript">
                                            $(document).ready(function () {
                                                ShippingValue();
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="product__description product__description--box description-product">
                    <div class="initial__desc">
                        <h2 class="product__title product__title--description">Descrição</h2>
                    </div>
                    <div class="description-product__content">
                        <div class="content__product">
                            <div class="attr__product">
                                <div class="attr__product-left">
                                    <vtex.cmc:ProductDescription />
                                </div>
                                <div class="attr__product-right"></div>
                            </div>
                            <div class="banner__produtor"></div>
                            <div class="analise__sensorial"></div>
                            <div class="product__harm"></div>
                        </div>
                    </div>
                </div>

                <div class="product__share">
                    <h2>Compartilhe com seus amigos</h2>
                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                    <script type="text/javascript"
                        src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5fad2f6cbdba0e1a"></script>

                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                    <div class="addthis_inline_share_toolbox"></div>

                </div>
                <div class="showcase">
                    <h2>Quem comprou esse também comprou</h2>
                    <a href="#">veja todos os produtos</a>
                    <div data-carousel="showcase" class="showcase__container">
                        <vtex:contentPlaceHolder id="quem comprou" />
                    </div>
                </div>

                <div class="product__specification-image">
                    <div class="product__specification" data-attr="Informações do Produto"></div>
                </div>


                <div class="visible__ony-category">
                    <div class="help__div">
                        <h3>Precisa de ajuda?</h3>
                        <p>Fale diretamente conosco e tire suas dúvidas.</p>
                        <ul>
                            <li><a href="#">Tenho <br />dúvidas</a></li>
                            <li><a href="#">atendimento <br />(11) 2842-5199</a></li>
                        </ul>
                    </div>
                    <div class="banner__news">
                        <vtex.cmc:newsletterOptIn />
                    </div>
                </div>

            </main>

        </div>

        <vtex:template id="00-casaflora-footer" />
        <vtex:template id="00-casaflora-scripts" />
        <vtex.cmc:productQuickView />
    </div>

</body>

</html>