<ul class="newmenu__list">
    <li class="visible__mobile header__menu-mobile">
<span><img src="/arquivos/login.png"/>Olá, visitante!</span>
<div><a href="/account"><img src="/arquivos/entrar.png"/>Entrar</a><a href="/account">Meus pedidos</a></div>
    </li>
    <li class="has__child">
        <a href="#">vinhos</a>
        <div class="newmenu__list-sub">
            <ul class="newmenu__list-nv2">
                <li><a href="#">em destaque</a>
                    <ul class="newmenu__list-nv3">
                        <li><a href="#"><strong>Novidades</strong></a></li>
                        <li><a href="#"><strong>Mais vendidos</strong></a></li>
                        <li><a href="#"><strong>Edições especiais</strong></a></li>
                        <li><a href="#"><strong>cestas especiais</strong></a></li>
                        <li><a href="#"><strong>monte seu kit</strong></a></li>
                        <li><a href="#"><strong>últimas unidades</strong></a></li>
                        <li><a href="#"><strong>Em promoção</strong></a></li>
                        <li><a href="#"><strong>Todos os vinhos</strong></a></li>
                    </ul>
                </li>
            </ul>
            <ul class="newmenu__list-nv2">
                <li><a href="#">faixa de preço</a>
                    <ul class="newmenu__list-nv3">
                        <li><a href="#">Até R$ 50</a></li>
                        <li><a href="#">R$ 50 a R$ 100</a></li>
                        <li><a href="#">R$ 100 a R$ 200</a></li>
                        <li><a href="#">R$ 200 a R$ 300</a></li>
                        <li><a href="#">R$ 300 a R$ 400</a></li>
                        <li><a href="#">R$ 400 a R$ 500</a></li>
                        <li><a href="#">R$ 500 a R$ 750</a></li>
                        <li><a href="#">R$ 750 a R$ 1.000</a></li>
                        <li><a href="#">R$ 1000 </a></li>
                    </ul>
                </li>

            </ul>
            <ul class="newmenu__list-nv2">
                <li><a href="#">tipos de vinho</a>
                    <ul class="newmenu__list-nv3">
                        <li><a href="#">Tinto</a></li>
                        <li><a href="#">Branco</a></li>
                        <li><a href="#">Rosé</a></li>
                        <li><a href="#">Espumante</a></li>
                        <li><a href="#">Aperitivo</a></li>
                        <li><a href="#">Champagnes</a></li>
                        <li><a href="#">Sobremesas</a></li>
                        <li><a href="#"><strong>Ver todos</strong></a></li>
                    </ul>
                </li>

            </ul>
            <ul class="newmenu__list-nv2">
                <li><a href="#">Tipos de uva</a>
                    <ul class="newmenu__list-nv3">
                        <li><a href="#">Cabernet Souvignon</a></li>
                        <li><a href="#">Carmenère</a></li>
                        <li><a href="#">Chardonnay</a></li>
                        <li><a href="#">Merlot</a></li>
                        <li><a href="#">Lambrusco</a></li>
                        <li><a href="#">Shirah</a></li>
                        <li><a href="#"><strong>ver todos</strong></a></li>
                    </ul>
                </li>

            </ul>
            <ul class="newmenu__list-nv2">
                <li><a href="#">países</a>
                    <ul class="newmenu__list-nv3">
                        <li><a href="#">Chile</a></li>
                        <li><a href="#">Brasil</a></li>
                        <li><a href="#">França</a></li>
                        <li><a href="#">Itália</a></li>
                        <li><a href="#">Argentina</a></li>
                        <li><a href="#">Espanha</a></li>
                        <li><a href="#">África do Sul</a></li>
                        <li><a href="#"><strong>ver todos</strong></a></li>
                    </ul>
                </li>

            </ul>
            <ul class="newmenu__list-nv2">
                <li><a href="#">harmonizações</a>
                    <ul class="newmenu__list-nv3">
                        <li><a href="#">Aves</a></li>
                        <li><a href="#">Bacalhau</a></li>
                        <li><a href="#">Carnes assadas</a></li>
                        <li><a href="#">Carnes brancas</a></li>
                        <li><a href="#"><strong>ver todos</strong></a></li>
                    </ul>
                </li>

            </ul>
            <ul class="newmenu__list-nv2">
                <li><a href="#">produtores</a>
                    <ul class="newmenu__list-nv3">
                        <li><a href="#">Aberl Pinchard</a></li>
                        <li><a href="#">Alfredo Roca</a></li>
                        <li><a href="#">Antares</a></li>
                        <li><a href="#">Bellosguardo</a></li>
                        <li><a href="#">Bertani</a></li>
                        <li><a href="#">Bodega Vieja</a></li>
                        <li><a href="#">Bodegas Nieto Senetiner</a></li>
                        <li><a href="#">Brancott Estate</a></li>
                        <li><a href="#"><strong>ver todos</strong></a></li>
                    </ul>
                </li>
            </ul>
        <div class="category__image">
            <a href="#">
                <img src="/arquivos/promo.jpg" />
            </a>
        </div>
        </div>

    </li>
     <li class="has__child">
        <a href="#">alimentos</a>
        <div class="newmenu__list-sub">
            <ul class="newmenu__list-nv2">
                <li><a href="#">em destaque</a>
                    <ul class="newmenu__list-nv3">
                        <li><a href="#"><strong>Novidades</strong></a></li>
                        <li><a href="#"><strong>Mais vendidos</strong></a></li>
                        <li><a href="#"><strong>cestas especiais</strong></a></li>
                        <li><a href="#"><strong>monte seu kit</strong></a></li>
                        <li><a href="#"><strong>últimas unidades</strong></a></li>
                        <li><a href="#"><strong>Em promoção</strong></a></li>
                        <li><a href="#"><strong>Todos os ALIMENTOS</strong></a></li>
                    </ul>
                </li>
            </ul>
            <ul class="newmenu__list-nv2">
                <li><a href="#">tipos de alimentos</a>
                    <ul class="newmenu__list-nv3">
                        <li><a href="#">Arroz e Couscous</a></li>
                        <li><a href="#">Azeites e Vinagres</a></li>
                        <li><a href="#">Bacalhau</a></li>
                        <li><a href="#">Biscoitos e Sucos</a></li>
                        <li><a href="#">Doces</a></li>
                        <li><a href="#">Embutidos</a></li>
                        <li><a href="#">Geleias</a></li>
                        <li><a href="#">Massas</a></li>
                        <li><a href="#">Orgânicos</a></li>
                        <li><a href="#"><strong>Ver todos</strong></a></li>
                    </ul>
                </li>

            </ul>
            <ul class="newmenu__list-nv2">
                <li><a href="#">marcas</a>
                    <ul class="newmenu__list-nv3">
                        <li><a href="#">Acqualagna Tartufi</a></li>
                        <li><a href="#">Al Badia</a></li>
                        <li><a href="#">Arrozes Flora</a></li>
                        <li><a href="#">Asaro</a></li>
                        <li><a href="#">Azafranes Sabater</a></li>
                        <li><a href="#">Bacalhau Marnobre</a></li>
                        <li><a href="#">Budweiser</a></li>
                        <li><a href="#">Deleyda</a></li>
                        <li><a href="#"><strong>Ver todos</strong></a></li>
                    </ul>
                </li>

            </ul>
            <ul class="newmenu__list-nv2">
                <li><a href="#">países</a>
                   <ul class="newmenu__list-nv3">
                        <li><a href="#">Alemanha</a></li>
                        <li><a href="#">Argentina</a></li>
                        <li><a href="#">Brasil</a></li>
                        <li><a href="#">Chile</a></li>
                        <li><a href="#">Espanha</a></li>
                        <li><a href="#">França</a></li>
                        <li><a href="#">Grécia</a></li>
                        <li><a href="#">Itália</a></li>
                        <li><a href="#"><strong>ver todos</strong></a></li>
                    </ul>
                </li>
            </ul>
            
        <div class="category__image">
            <a href="#">
                <img src="/arquivos/alimentos01.png" />
            </a>
        </div>
        <div class="category__image">
            <a href="#">
                <img src="/arquivos/alimentos02.png" />
            </a>
        </div>
        </div>

    </li>
     <li class="has__child">
        <a href="#">cervejas</a>
        <div class="newmenu__list-sub">
            <ul class="newmenu__list-nv2">
                <li><a href="#">em destaque</a>
                    <ul class="newmenu__list-nv3">
                        <li><a href="#"><strong>Novidades</strong></a></li>
                        <li><a href="#"><strong>Mais vendidos</strong></a></li>
                        <li><a href="#"><strong>cestas especiais</strong></a></li>
                        <li><a href="#"><strong>monte seu kit</strong></a></li>
                        <li><a href="#"><strong>últimas unidades</strong></a></li>
                        <li><a href="#"><strong>Em promoção</strong></a></li>
                        <li><a href="#"><strong>Todos os ALIMENTOS</strong></a></li>
                    </ul>
                </li>
            </ul>
            <ul class="newmenu__list-nv2">
                <li><a href="#">tipos de cerveja</a>
                    <ul class="newmenu__list-nv3">
                        <li><a href="#">American Premium Lager</a></li>
                        <li><a href="#">Belgian Blonde Ale</a></li>
                        <li><a href="#">Berliner Weiss</a></li>
                        <li><a href="#">Double IPA</a></li>
                        <li><a href="#">IPA</a></li>
                        <li><a href="#">Lager</a></li>
                        <li><a href="#">Märzen</a></li>
                        <li><a href="#">Pale Ale</a></li>
                        <li><a href="#"><strong>Ver todos</strong></a></li>
                    </ul>
                </li>

            </ul>
            <ul class="newmenu__list-nv2">
                <li><a href="#">marcas</a>
                    <ul class="newmenu__list-nv3">
                        <li><a href="#">Dama Bier</a></li>
                        <li><a href="#">Fürstenberg</a></li>
                        <li><a href="#">Goose Island</a></li>
                        <li><a href="#">Hacker-Pschorr</a></li>
                        <li><a href="#">Leopoldina</a></li>
                        <li><a href="#">Panth Ginger Beer</a></li>
                        <li><a href="#">Paulaner</a></li>
                        <li><a href="#">Red Stripe</a></li>
                        <li><a href="#"><strong>Ver todos</strong></a></li>
                    </ul>
                </li>

            </ul>
            <ul class="newmenu__list-nv2">
                <li><a href="#">países</a>
                   <ul class="newmenu__list-nv3">
                        <li><a href="#">Alemanha</a></li>
                        <li><a href="#">Argentina</a></li>
                        <li><a href="#">Brasil</a></li>
                        <li><a href="#">Chile</a></li>
                        <li><a href="#">Espanha</a></li>
                        <li><a href="#">França</a></li>
                        <li><a href="#">Grécia</a></li>
                        <li><a href="#">Itália</a></li>
                        <li><a href="#"><strong>ver todos</strong></a></li>
                    </ul>
                </li>
            </ul>
            
        <div class="category__image">
            <a href="#">
                <img src="/arquivos/cervejas.png" />
            </a>
        </div>
        
        </div>

    </li>
    <li class="has__child">
        <a href="#">destilados</a>
        <div class="newmenu__list-sub">
            <ul class="newmenu__list-nv2">
                <li><a href="#">em destaque</a>
                    <ul class="newmenu__list-nv3">
                        <li><a href="#"><strong>Novidades</strong></a></li>
                        <li><a href="#"><strong>Mais vendidos</strong></a></li>
                        <li><a href="#"><strong>cestas especiais</strong></a></li>
                        <li><a href="#"><strong>monte seu kit</strong></a></li>
                        <li><a href="#"><strong>últimas unidades</strong></a></li>
                        <li><a href="#"><strong>Em promoção</strong></a></li>
                        <li><a href="#"><strong>Todos os ALIMENTOS</strong></a></li>
                    </ul>
                </li>
            </ul>
            <ul class="newmenu__list-nv2">
                <li><a href="#">tipos de cerveja</a>
                    <ul class="newmenu__list-nv3">
                        <li><a href="#">American Premium Lager</a></li>
                        <li><a href="#">Belgian Blonde Ale</a></li>
                        <li><a href="#">Berliner Weiss</a></li>
                        <li><a href="#">Double IPA</a></li>
                        <li><a href="#">IPA</a></li>
                        <li><a href="#">Lager</a></li>
                        <li><a href="#">Märzen</a></li>
                        <li><a href="#">Pale Ale</a></li>
                        <li><a href="#"><strong>Ver todos</strong></a></li>
                    </ul>
                </li>

            </ul>
            <ul class="newmenu__list-nv2">
                <li><a href="#">marcas</a>
                    <ul class="newmenu__list-nv3">
                        <li><a href="#">Dama Bier</a></li>
                        <li><a href="#">Fürstenberg</a></li>
                        <li><a href="#">Goose Island</a></li>
                        <li><a href="#">Hacker-Pschorr</a></li>
                        <li><a href="#">Leopoldina</a></li>
                        <li><a href="#">Panth Ginger Beer</a></li>
                        <li><a href="#">Paulaner</a></li>
                        <li><a href="#">Red Stripe</a></li>
                        <li><a href="#"><strong>Ver todos</strong></a></li>
                    </ul>
                </li>

            </ul>
            <ul class="newmenu__list-nv2">
                <li><a href="#">países</a>
                   <ul class="newmenu__list-nv3">
                        <li><a href="#">Alemanha</a></li>
                        <li><a href="#">Argentina</a></li>
                        <li><a href="#">Brasil</a></li>
                        <li><a href="#">Chile</a></li>
                        <li><a href="#">Espanha</a></li>
                        <li><a href="#">França</a></li>
                        <li><a href="#">Grécia</a></li>
                        <li><a href="#">Itália</a></li>
                        <li><a href="#"><strong>ver todos</strong></a></li>
                    </ul>
                </li>
            </ul>
            
        <div class="category__image">
            <a href="#">
                <img src="/arquivos/destilados.png" />
            </a>
        </div>
        
        </div>

    </li>
    <li><a href="#">águas</a></li>
    <li class="has__child">
        <a href="#">por ocasião</a>
        <div class="newmenu__list-sub">
            <ul class="newmenu__list-nv2">
                <li><a href="#">em destaque</a>
                    <ul class="newmenu__list-nv3">
                        <li><a href="#"><strong>dia dos pais</strong></a></li>
                        <li><a href="#"><strong>aniversário casa flora</strong></a></li>
                        <li><a href="#"><strong>cestas especiais</strong></a></li>
                        <li><a href="#"><strong>monte seu kit</strong></a></li>
                        <li><a href="#"><strong>presentes</strong></a></li>
                    </ul>
                </li>
            </ul>
            <ul class="newmenu__list-nv2">
                <li><a href="#">ocasião</a>
                    <ul class="newmenu__list-nv3">
                        <li><a href="#">Jantar romântico</a></li>
                        <li><a href="#">Almoço de domingo</a></li>
                        <li><a href="#">Recebendo amigos</a></li>
                        <li><a href="#">Chá da tarde</a></li>
                        <li><a href="#">Happy Hour</a></li>
                        <li><a href="#">Comemoração</a></li>
                        <li><a href="#">Aniversário</a></li>
                    </ul>
                </li>

            </ul>
            <ul class="newmenu__list-nv2">
                <li><a href="#">para acompanhar</a>
                    <ul class="newmenu__list-nv3">
                        <li><a href="#">Carnes vermelhas</a></li>
                        <li><a href="#">Carnes brancas</a></li>
                        <li><a href="#">Peixes e frutos do mar</a></li>
                        <li><a href="#">Massas e risotos</a></li>
                        <li><a href="#">Doces e sobremesas</a></li>
                        <li><a href="#">Sem carne</a></li>
                    </ul>
                </li>

            </ul>
           
        <div class="category__image">
            <a href="#">
                    <img src="/arquivos/ocasiao01.png" />
            </a>
        </div>   
        <div class="category__image">
            <a href="#">
                <img src="/arquivos/ocasiao02.png" />
            </a>
        </div>
        
        </div>

    </li>
    <li><a href="#">veja todos</a></li>
    <li class="has__child">
        <a href="#">outlet</a>
        <div class="newmenu__list-sub">
            <ul class="newmenu__list-nv2">
                <li><a href="#">em promoção</a>
                    <ul class="newmenu__list-nv3">
                        <li><a href="#"><strong>vinhos</strong></a></li>
                        <li><a href="#"><strong>alimentos</strong></a></li>
                        <li><a href="#"><strong>cervejas</strong></a></li>
                        <li><a href="#"><strong>destilados</strong></a></li>
                        <li><a href="#"><strong>águas</strong></a></li>
                        <li><a href="#"><strong>cestas e kits</strong></a></li>
                        <li><a href="#"><strong>todas as promoções</strong></a></li>
                    </ul>
                </li>
            </ul>
 
        <div class="category__image">
            <a href="#">
                    <img src="/arquivos/alimentos02.png" />
            </a>
        </div> 
        <div class="category__image">
            <a href="#">
                    <img src="/arquivos/outlet02.png" />
            </a>
        </div>  
        <div class="category__image">
            <a href="#">
                <img src="/arquivos/outlet03.png" />
            </a>
        </div>
        
        </div>

    </li>
</ul>
<div class="newmenu__contact">
    <div>
        <div>
            <span>televendas</span>
            <span>(11) 2842-5199</span>
        </div>
        <div>
            <ul>
                <li><a href="https://www.facebook.com/CasaFloraImportadora" target="_blank"><img src="/arquivos/facebookmobile.png"/></a></li>
                <li><a href="https://www.instagram.com/casafloraimportadora/" target="_blank"><img src="/arquivos/instagrammobile.png"/></a></li>
            </ul>
        </div>
    </div>
</div>