.slick-track
    min-width: 100%

.slick
    &-arrow
        width: 50px
        height: 50px
        border: 0
        border-radius: 3px
        cursor: pointer
        font-size: 0
        position: absolute 
        color: color[0] 
        display: flex
        justify-content: center
        align-items: center

        &:before
            font-size: 21px

    &-prev
        left: 15px

        &:before
            content: ''
            display: block
            width: 30px
            height: 30px
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAcCAMAAACqEUSYAAAAYFBMVEUAAADPr4DOtYTPr4DPr4fPtYXLs4PPs4PPsoPPtIbNsoXPsoXPtYjNtIbPtITPtIbPtYfPs4XPtIjNs4XPs4XPtIXPtYfPtIbPtYbPtIbPtIXPtIbPtIbPtIfPtIbPtIZm8n0oAAAAH3RSTlMAEB8gIDBAQFBfYGBvcHBwf4CPkJCfn6Cvv8/P39/vE3i0EwAAAIFJREFUeNqF0EUCg0AQRNHGieIOXfe/ZVjGquZv32jbZ9GyR8ZKD5wqMGGYOTa68+KYjHUHeoo10CisKI7wG7NogWf0m5v4pp7BAb/mfzv1AK0z6wBf/jYXZtYAtZHC/ARawaVjiDhnB1b6Zz2SMEcb9sx4E7zUH39orjXHgouPm18+ZQ+cJ3PlcQAAAABJRU5ErkJggg==')
            background-repeat: no-repeat
            background-size: 20px
            background-position: center

    &-next
        right: 15px

        &:before
            content: ''
            display: block
            width: 30px
            height: 30px
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAAWlBMVEUAAADPr4DPr4DPr4fKtYXPtYXLs4PPs4PPsoPPtIbNsoXPsoXPtYXPtITPtIbPtYfPs4XPtIbPs4XPtIXPtYfQtYfPtIbPtIbPtIXPtIbPtIbPtIfPtIbPtIbgSPo5AAAAHXRSTlMAECAgMDBAQFBfYGBgcHB/gI+Qn5+foL/Pz9/f7wBskz0AAAB4SURBVHjandE1lgNBDABRaZiZZ+r+x9y1I6Pa73WlPxHIU+E5qVjpyRaYGp4cvqo7VyxmC+S2dtD6au3U7GK0NT7Z9NfCGiXfKrjrjNkh2fq9Czoxah3WQ2OQTlyl+zX2jh4Wn+xqWHKxWJbD4LO6y2IoxaxK5aV/VLcOlNy+FfcAAAAASUVORK5CYII=')
            background-repeat: no-repeat
            background-size: 20px
            background-position: center

    &-dots
        display: block
        margin-bottom: 50px
        font-size: 0
        text-align: center

        li
            display: inline-block

        button
            width: 10px
            height: 10px
            padding: 0
            border: 0
            border-radius: 50%
            font-size: 0
            background: #E9E9E9
            margin: 0 6px

        .slick-active
            button
                width: 15px
                height: 15px
                background: color[0]

    &-vertical
        .slick
            &-arrow
                position: static
                width: 100%

            &-prev
                transform: rotate(90deg)

            &-next
                transform: rotate(90deg)

.slick-vertical
    .slick-track, .slick-list
        min-height: 100%

[data-carousel]
    position: relative

    .slick
        &-arrow
            position: absolute
            top: 50%
            z-index: 50
            transform: translateY(-50%)
            transition: transition[0]
            background-color: transparent
            padding: 0

        &-prev
            left: 0

        &-next
            right: 0

[data-carousel=three]
    .slick
        &-prev
            left: 0

        &-next
            right: 0

[data-carousel=one]
    .slick-dots
        position: relative
        z-index: 10
        margin: 0

@media (max-width: 991px)
    [data-carousel] > div > ul > .slick-arrow
        margin-top: -60px

@media (min-width: (viewport + 90))
    [data-carousel] > div > ul > .slick
        &-prev
            left: -25px

        &-next
            right: -25px

.thumbs
    .slick-arrow
        &:before
            width: 38px
            height: 38px
            background-size: contain

.slick-slider .slick-arrow
    @media (max-width: 992px)
        border: 0
        background: none !important
        z-index: 100

        &:before
            background-color: #fff
            width: 20px
            height: 20px
            background-size: 15px
            border: solid 1px color[0]
            border-radius: 2px