.qtds
    display: flex 
    width: 115px
    max-width: 115px  
    position relative
    height 50px

    &__button 
        flex: 0 0 30px
        max-width: 30px
        padding: 0
        display: flex 
        justify-content: center 
        align-items: center 
        width: 30px 
        height: 25px 
        border: 0
        background: none 
        font-weight: semi-bold
        cursor: pointer
        position: absolute
        right 0
        font-size: 18px
        color: #8B8A8A

    .qtds__button--more
        top: 50%
        transform: translateY(-50%)
        right 0
        font-size: 0
        

        &:before
            content: ''
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAKCAMAAABlokWQAAAAJFBMVEUAAADPr4DPr4DPr4fPtYXNs4XPtIbPtYbPtIbPtIfPtIbPtIZ35TSYAAAAC3RSTlMAECAgMJCgr9/f763btgIAAAA4SURBVHjaXMhBDgAQDEXBXwTV+99XIl5glqPNTK/so3wRQRG9UURSpQhRJyjiKoIy+QrMsXIxAQCYAAHqtVNdgAAAAABJRU5ErkJggg==')
            width 20px
            height 20px
            background-repeat: no-repeat
            background-position: center        

    .qtds__button--less
        top: 50%
        transform: translateY(-50%)
        left 0
        font-size: 0


        &:before
            content: ''
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAKCAMAAACOlf6TAAAAG1BMVEUAAADPtYXPtIbPtYXNtIbPtIbPs4XPtIbPtIYzxkpDAAAACHRSTlMAMF9gcHCA70+WlfIAAAAzSURBVHjaTciHCQAwEMNAp2f/hVNfYNHEqcwsK416CPsyu9QxIWaIGYK5YCaYC4aQSuM2ltwBeuSesoMAAAAASUVORK5CYII=')
            width 20px
            height 20px
            background-repeat: no-repeat
            background-position: center


    &__input 
        background: none 
        flex: 1
        height: 50px 
        width: 60px
        text-align: center 
        border: 0
        min-width: 0
        font-size: 18px
        font-weight: semi-bold
        color: #4F4F4F
        max-width 50px
        border: 2px solid #CFB486
        box-sizing: border-box
        border-radius: 5px
        margin: 0 auto