.header
    &__topbar
        background: #333333
        text-align: center
        font-size: 13px
        padding: 5px 0
        color: #fff
        font-weight: 800
        
        @media(max-width: 991px)
            font-size: 14px
            padding: 15px          

        strong, a
            color: #FF4F00


    .wrapper__container > &
        position            : fixed
        top                 : 0
        left                : 0
        z-index             : 999
        width               : 100%
        transition          : transition[0]
        background: #fff

    &__head-nav
        display         : none
    &__wrapper
        background      : #fff 
            
    &__container
        { container }
        background      : #fff 
        z-index         : 100 
        display         : flex
        justify-content : center
        align-items     : center
        height          : 95px

        &--menu
            padding     : 0
            .scrolling:not(.scrolling--top) &
                opacity     : 1
                visibility  : visible
 

    .scrolling &
        min-height          : 66px
        background          : #fff

    &__logo, &__button-menu, &__cart, &__head-nav
        position        : relative
        z-index         : 30

    &__button-menu
        z-index         : 1

    &__logo
        flex            : 1 1 auto
        
        display         : flex
        justify-content : center
        align-items     : center

        max-width       : 300px

 
    &__search
        position        : absolute
        top             : 100%
        left            : 0
        z-index         : 10

        width           : 100%

        transition      : transition[0]

        @media(max-width : 991px)
            padding: 0 15px 10px
            background: #ffffff

        .scrolling:not(.scrolling--top) &
            transform   : translate3d(0, -100%, 0)
            opacity     : 0
            visibility  : hidden

@media (min-width: 992px)
    .scrolling
        .header__container:after
            bottom: 0

    .scrolling--top
        .menu
            top: 95px    

    .header

        &__search
            position: relative
            top     : auto
            left    : auto

            z-index     : 30 
            flex        : 1 1 auto
            max-width   : 485px


            .scrolling:not(.scrolling--top) &
                transform   : none
                opacity     : 1
                visibility  : visible

        &__logo
            justify-content : flex-start
            flex: 0 0 300px
        &__head-nav
                display: flex
                justify-content: space-between
                max-width: none 
                flex: 0 0 auto 
                min-width: 330px

        &__menu
            position    : absolute
            top         : 100%
            left        : 0

            width       : 100%

            transition  : transition[0]

            .scrolling:not(.scrolling--top) &
                transform   : translate3d(0, -100%, 0)
                opacity     : 0
                visibility  : hidden

        &__button-menu
            display         : none

.haeder__link-content 
    @media(max-width: 991px)
        display: none
    a 
        color: #4F4F4F
        font-size: 13px
        font-weight: 500
        text-decoration: underline
        display: flex
        align-items: center

        &:hover
            color: #FF4F00

        &:after
            content: ''
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAAG1BMVEUAAABQUFBQUFBQUFBMTExOTk5PT09PT09PT0/Y1xSxAAAACHRSTlMAECAwQKDf7wLNULsAAAA0SURBVHjaYqAmABQdFwQAxDAQBEsB/4YfumG4mavS+Y7aRkv9S+Kfka6BW7iEURmVUdXkvU9QAQ6LMXSVAAAAAElFTkSuQmCC')
            width 15px
            height 15px
            display: block
            margin-left 5px

        &:before
            content: ''
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAARCAMAAADe472QAAAAPFBMVEUAAABQUFBQUFBQUFBQUFBNTU1QUFBQUFBOTk5OTk5QUFBOTk5PT09OTk5OTk5PT09PT09PT09PT09PT0/8PrBrAAAAE3RSTlMAECAwUGBgcH+AgI+foLC/z9/vIykklwAAAGNJREFUeNpNzoUBwDAIAMGve3T/XQvxiysA0+lidBtq9jHxM6DzxMKWdoP2G076C+50JF0ApiDnhLQAvYyV/mR6ZDB6udqZ2txP8NXFBcxhyICjvkiszl+SdDFdStYYF5r7QP1tJAkenv8L9QAAAABJRU5ErkJggg==')
            width 15px
            height 19px
            display: block
            margin-right 5px      
            background-repeat: no-repeat  


.header__newmenu
    display: flex
    align-items: center
    justify-content: space-between
    max-width 1320px
    padding: 0 15px
    margin: 0 auto

    .header__newmenu--menu
        max-width 880px
        width 100%

        >ul
            display: flex
            justify-content: space-between
            width 100%

            li.has__child
                position relative

                &:after
                    content: ''
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAAG1BMVEUAAABQUFBQUFBQUFBMTExOTk5PT09PT09PT0/Y1xSxAAAACHRSTlMAECAwQKDf7wLNULsAAAA0SURBVHjaYqAmABQdFwQAxDAQBEsB/4YfumG4mavS+Y7aRkv9S+Kfka6BW7iEURmVUdXkvU9QAQ6LMXSVAAAAAElFTkSuQmCC')
                    width 15px
                    height 15px
                    display: block
                    margin-left 5px

                    @media(max-width : 991px)
                        position: absolute 
                        right 20px 
                        top: 20px


            >li
                display: flex
                align-items: center
                min-height: 45px

                @media(max-width: 991px)
                    flex-wrap: wrap

                &:last-child
                    a
                        color: #FF0808!important


                >a
                    font-size: 14px
                    color: #4F4F4F
                    font-weight: 700
                    line-height: 16px
                    text-transform: uppercase

                    @media(max-width: 991px)
                        font-size: 20px;

                .newmenu__list-sub
                    display: none
                    position: absolute
                    top: 100%
                    width: 100%
                    left: 50%
                    max-width: 1320px
                    transform: translateX(-50%)
                    background: #FEFAF2
                    padding: 30px 70px

                    @media(max-width: 991px)
                        background: #ffffff
                        padding: 0
                        position relative
                        left: 0
                        max-width 100%
                        top: 0
                        flex-wrap: wrap
                        transform: translateX(0)

                        .category__image
                            display: none

                    >.newmenu__list-nv2
                        li
                            >a
                                color: #A74238
                                font-size: 14px
                                font-weight: 500
                                text-transform: uppercase

                        .newmenu__list-nv3
                            li
                                a
                                    font-size: 14px
                                    color: #4F4F4F
                                    text-transform: none

                                    strong
                                        text-transform: uppercase
                         
                @media(min-width : 992px)
                    &:hover
                        .newmenu__list-sub
                            display: flex 
                            justify-content: space-between

.header__newmenu
    @media(max-width: 991px)
        position: fixed
        right -100%
        visibility: hidden
        transition: all 200ms ease-in-out
        height: 100vh
        background: #fff
        top: 0
        z-index: 999999
        padding: 0
        align-items: flex-start
        max-width: 80%
        
        
        ul
            overflow-y: auto
            max-height: 100vh

    &--right
        display: flex
        align-items: center
        width 85px
        justify-content: space-between

    &--account
        &:before
            display             : block
            content             : ''
            background          : svg-load('svg/account.svg')
            width               : 23px
            height              : 30px 
            color               : color[0] 
            background-repeat   : no-repeat
            background-size     : 100%  


@media(min-width: 992px)
    .header__cart.cart__mobile, li.visible__mobile.header__menu-mobile
        display: none!important



.home.is-menu
    .header__newmenu
        right 0
        visibility: visible


        li.visible__mobile.header__menu-mobile
            background: #000
            width 100%
            flex-wrap: wrap
            padding: 15px 

            span
                display: block
                width 100%
                font-weight: 700
                font-size: 16px
                color: #fff
                display: flex
                align-items: center
                margin-bottom 15px

                img
                    margin-right 5px

            div
                display: flex 
                align-items: center
                width 100%

                a
                    font-size: 13px
                    color: #ffffff
                    font-weight: 700
                    text-transform: uppercase
                    margin-right 30px
                    display: flex
                    align-items: center

                    &:after
                        content: ''
                        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAALCAMAAACETmeaAAAAHlBMVEUAAAD///////////////////////////////////8kfJuVAAAACXRSTlMAECAwn6C/z99OKYCWAAAALElEQVR42mNgZmNkAAE2Tg4mEM0IYzCwYjA4ONlAFAuQD6Wg6sH62UEUzDwAKa4A7yqC6kgAAAAASUVORK5CYII=')
                        width 15px
                        height 15px
                        display: block
                        background-position: center
                        background-repeat: no-repeat


                    img
                        margin-right 5px

        .header__newmenu--right
            display: none

        .header__newmenu--menu
            width 100%

            >ul
                flex-wrap: wrap
                

                >li:not(.header__menu-mobile)
                    width 100%
                    padding: 20px 


.close__menu.visible__mobile 
    width: 70px;
    position: absolute;
    left: -70px;
    top: 0;
    background: #FF4F00;
    color: #fff;
    text-align: center;
    height: 70px;
    line-height: 70px;
    font-weight: 700;
    cursor pointer
    font-size: 25px;


 .header__newmenu .header__newmenu--menu >ul > .open__sub >.newmenu__list-sub
    display: block 

.minicart__container 
    display: none
        