.labels
    &-discount 
        display         : none
    &--collection
        position        : absolute
        bottom          : 0
        left            : 50%
        display         : flex 
        flex-wrap       : wrap
        width           : 100%
        transform       : translateX(-50%)

    .flag
        flex            : 0 0 auto
        display         : inline-block

        font-size       : 12px
        font-weight     : 500
 

        background      : #fff
        color           : color[0]
        padding         : 5px 10px

        border-radius   : 5px
        margin          : 3px
        border          : 1px solid color[0]

        &.frete-gratis
            background  : color[0]
            color       : #fff
            position    : absolute
            top         : -30px
            right       : 0
            padding     : 3px
            pointer-events: none

    &--collection
        .flag 
            cursor: pointer
            &:hover 
                background: color[0]
                color: #e6e6e6

    .novidade
        background: #FFB200

    .frete-gratis
        background: #7ABE66

    .mais-vendidos
        background: #FF7000
    
    .entrega-imediata
        background: #434343

    &__item
        &--discount
            display         : none 
        &--percent
            display         : none
            justify-content : center
            align-items     : center
            flex-wrap       : wrap 
            position        : absolute
            top             : 3px
            left           : 0
            padding         : 4px
            font-size       : 14px
            font-weight     : bold
            line-height     : 17px
            width 50px
            height 50px
            color           : #fff
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAV1BMVEUAAAD/UAD/UAD/UAD/TAD/UAD/TAD/UAD/UQD/TQD/UAD/UAD/TQD/UAD/TgD/UAD/TgD/UAD/TgD/TgD/TwD/TgD/TwD/TgD/TwD/TwD/TwD/TwD/TwAuYGL3AAAAHHRSTlMAECAwQEBQUF9gYG9wcH9/gICPkJ+gr7C/z9/v/hlJrQAAAOlJREFUeNrN1VXWJCEMBeAL1e7ekNz9b7PdqZwTZn77nnEieBdmQk1DnHSSMm8iYGuEF5pOYy+kgSkKCxph2bDFBoYxWw38oy9mKHRWSpOseu+DhabyhRo6PMcLHSTgakiXCa52dNngKtEleVYvh2+/5TAZF4E+Gi7D53Ra4CTSS5tLSrhJwIQVFsiskMEqYJXawyxZYYogdJMINEqviJNlVRAgKH0CLvJfSI/9v6X2tm71KV1GuHB+rNSW1KKF2aSLV/210KTrLgpLO2xbjfyj7Q/YwBKVBYm1Td4Wt/k09vIOo6SUZcCbI1d1rfFwMDGxAAAAAElFTkSuQmCC')
            background-repeat: no-repeat
            background-position: center


            &:before
                content     : '-'

            &.on
                display     : flex