.minibanner
    text-align: center 
    background: #333333
    padding: 50px 0

    

    h2
        font-weight: 500;
        font-size: 28px;
        line-height: 30px; 
        text-align: center   
        color: #fff 

    >a
        font-weight: bold
        font-size: 14px
        text-transform: uppercase
        line-height: 40px
        color: #FF4F00
        display: flex
        align-items: center
        justify-content: center

        &:after
            content: ''
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAQCAMAAAARSr4IAAAAJFBMVEUAAAD/UAD/UAD/SgD/UAD/TAD/UAD/TwD/TwD/TwD/TwD/TwDlbkdBAAAAC3RSTlMAECAwMFBQv8/f78SDPS8AAAA3SURBVHjance5AYAwDANA2bxC+88L5E9aX3coNsPk0D3fuN5DZ/dIFzQjvNkpOhq7Y8ORNjnrPjWYAqXXtA8TAAAAAElFTkSuQmCC')
            width 15px
            height 15px
            display: block
            margin-left 5px

    .minibanner__category
        display: flex
        align-items: center
        max-width 1320px
        padding: 0 15px
        justify-content: center
        margin: 30px auto

        @media(max-width : 991px)
            flex-wrap: wrap
            

            .box-banner
                width 30%
                min-width: 0
                margin-bottom 15px

    @media(max-width : 991px)
        padding: 30px 0
        .slick-dots
            margin: 0 auto
            margin-top: 38px

    &__container
        max-width: 1320px
        width: 100%
        padding: 0 15px
        margin: 0 auto
        display: flex
        align-items: center
        justify-content: space-between 
        padding-bottom: 30px
    .box-banner
        overflow hidden
        min-width: 141px
    img
        display block
        margin: 0 auto
        transition: all .3s
        &:hover
            transform: scale(1.05)
    .box-banner
        padding: 0 5px

section.minibanner__full 
    width: 100%
    text-align: center

section.minibanner-inst 
    text-align: center
    margin: 30px 0

.minibanner-mid
    background: #CAD7CB
    padding: 90px 0

    @media(max-width : 991px)
        padding: 30px 0

    &__container
        max-width: 1120px
        width: 100%
        padding: 0 15px
        margin: 0 auto
        display: flex
        align-items: flex-end
        justify-content: space-around

        @media(max-width : 767px)
            flex-wrap: wrap

        
    .box-banner
        padding: 5px
        overflow hidden
    img
        margin-left: auto
        transition: all .3s
        &:hover
            transform: scale(1.05)

.minibanner-down
    padding-bottom: 60px
    padding-top: 20px
    @media(max-width : 991px)
        padding: 38px 0
    &__container
        max-width: 1320px
        width: 100%
        padding: 0 15px
        margin: 0 auto
        overflow hidden
        
    img
        transition: all .3s
        &:hover
            transform: scale(1.05)

.banner--full

    .slick-list
        img
            margin: 0 auto
    
    .slick-dots
        position: absolute
        bottom: 20px 
        left: 50%
        transform: translateX(-50%)

        button
            width: 20px
            height: 20px
            padding: 0
            border: 0
            border-radius: 50%
            font-size: 0
            background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAMFBMVEUAAAD///////////////////////////////////////////////////////////87TQQwAAAAEHRSTlMACBAYICgwOEBIUGBocHiA65quNAAAAD9JREFUeNpFi4MBAEEMBOesoP9q34izoK1RCG2uhLi72jE6y5+o9PeMBLuvCfE5F4xP8NsaepLn6JTZM5Qx4w77/QSGCWNwPQAAAABJRU5ErkJggg==");
            margin: 0 6px;
            background-repeat: no-repeat;
            background-position: center;

        .slick-active
            button
                width 20px
                height 20px
                background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAOVBMVEUAAAD///////////////////////////////////////////////////////////////////////8KOjVvAAAAE3RSTlMADRkmM0BMTVlmc3+AjJmmsr/MsfgTiQAAAEBJREFUeNo1ioMBwEAMRd/ZSPbftW74RZ7VY/IYBr1qynUiW7/y1B8arLyogP3ECu2DYlh/NnBH+35g6tlBqtWeKlgFVeSOMJUAAAAASUVORK5CYII=");
                background-repeat: no-repeat;
                background-position: center;

    .banner__container 
        display: flex 
        justify-content: center
        overflow: hidden
    
    .box-banner 
        flex: 0 0 100% 

    &-mobile 
        display: block

    @media(max-width : 991px)
        // img
        //     display: block
        //     position: relative
        //     width: auto
        //     min-width: 100%
        //     max-width: 220%
        //     left: 50%
        //     transform: translateX(-50%)
        // .box-banner
        //     padding-bottom: 40px


    @media (min-width: 992px) 
        display: block 

        &-mobile 
            display: none 




.banner--category
    margin: 10px 0 30px

    .slick-slide
        padding: 0!important
        
    .slick-arrow
        top: 50%
        transform: translateY(-50%)
        z-index 99
        background: transparent!important
        border-radius: 50%

    .slick-prev
        left 30px!important

    .slick-next
        right 30px!important

.banner--full-mobile 
    padding-bottom: 0
    .box-banner
        padding-bottom: 0

.visible__mobile
    @media(min-width: 992px)
        display: none

.visible__desktop
    @media(max-width: 991px)
        display: none

.bannerhtml1
    padding: 60px 0
    &-container
        display: flex
        justify-content: center
        max-width 1200px
        position relative
        margin: 0 auto

        @media(max-width: 991px)
            flex-wrap: wrap

    &-left
        position: absolute
        font-size: 60px
        font-family: 'Abril Fatface', cursive
        color: #fff
        line-height: 80px
        text-align: left
        text-transform: uppercase
        left 110px
        top 160px

        @media(max-width: 991px)
            position relative
            order: 2
            left 0
            top: 0
            font-size: 35px
            line-height: 50px
            width: 100%
            margin-left: 50px
            margin-top -50px

        strong
            font-size: 130px

            @media(max-width: 991px)
                font-size: 70px
                color: #c9d7cb

    &-center
        @media(max-width: 991px)
            order: -1
            padding: 0 15px
    
    &-right
        position: absolute
        top: 0
        right 0
        width 100%
        height 100%

        @media(max-width: 991px)
            position relative
            order: 3
        p
            font-weight: 500;
            font-size: 22px;
            color: #fff;
            width 217px
            line-height: 30px;
            position: absolute
            right: 160px
            bottom: 130px
            text-align: left

            @media(max-width: 991px)
                position relative
                bottom: 0
                right 0
                margin-left 50px
                margin-top 30px

        a
            position: absolute
            bottom: 50px
            right 220px
            font-size: 16px
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: bold;
            color: #FEF8E0;  
            display: flex
            align-items: center
            border: 1px solid #FEF8E0
            border-radius: 5px
            width 150px
            height 50px
            justify-content: center
            @media(max-width: 991px)
                position relative
                bottom: 0
                right 0
                margin-left 50px
                margin-top 30px
            &:after
                content: ''
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAQCAMAAADDGrRQAAAAMFBMVEUAAAD/79//99/69N/799/89d/899/999/999//+OD/+OD++OD++OD++OD++eD++OCvfhw5AAAAD3RSTlMAECAwQFBggKCvv8/f7+/6mGr3AAAAOElEQVR42rXItQHAMAwEwDejpP2nDTNV8ZWHb6ma20XhRqnyiYyp5cpD2SNPEnGm63+Fci+4gFkPQpMDxUvq+GcAAAAASUVORK5CYII=')
                width 30px
                height 15px
                margin-left 10px
                display: block
                background-repeat: no-repeat
    
        img
            position: absolute
            top: -50px
            right: 90px

            @media(max-width: 991px)
                display: none

.bannerhtml2
    position: relative

    &-container
        display: flex
        justify-content: center
        max-width 500px
        position relative
        margin: 0 auto

        @media(max-width: 991px)
            flex-wrap: wrap

    &-left
        position: absolute
        font-family: 'Abril Fatface', cursive
        color: #fff
        font-size: 180px;
        line-height: 70px;
        text-align: left
        text-transform: uppercase
        left -70px
        top 50px
        z-index 1
        
        @media(max-width: 991px)
            position relative
            order: 2
            left 0
            top: 0
            font-size: 70px
            line-height: 70px
            width: 100%
            margin-top -50px

    &-center
        @media(max-width: 991px)
            order: -1
            padding: 0 15px

    &-botton
        position: absolute
        left 40px 
        bottom: 45px
        max-width 330px
    
        font-size: 24px;
        line-height: 30px;
        color: #FFFFFF;
        z-index 10

        @media (max-width : 991px)
            max-width : 220px

        a
            display: flex
            align-items: center
            
            font-size: 16px
            line-height: normal
            color: #FFFFFF;
            border: 1px solid #FEF8E0
            border-radius: 5px

            width 170px
            height 50px
            justify-content: center
            
            margin-top 50px

            @media(max-width: 991px)
                position relative
                bottom: 0
                right 0
                margin-top 30px

            &:after
                content: ''
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAQCAMAAADDGrRQAAAAMFBMVEUAAAD/79//99/69N/799/89d/899/999/999//+OD/+OD++OD++OD++OD++eD++OCvfhw5AAAAD3RSTlMAECAwQFBggKCvv8/f7+/6mGr3AAAAOElEQVR42rXItQHAMAwEwDejpP2nDTNV8ZWHb6ma20XhRqnyiYyp5cpD2SNPEnGm63+Fci+4gFkPQpMDxUvq+GcAAAAASUVORK5CYII=')
                width 30px
                height 15px
                margin-left 10px
                display: block
                background-repeat: no-repeat
    
    &-right
        position: absolute
        top: -40px
        right -20px
        width: 191px;
        height: 191px;

        @media(max-width: 991px)
            top: 20px
            right 20px
            width: 121px;
            height: 121px;


.bannerhtml3
    position: relative

    &-container
        display: flex
        justify-content: center
        max-width 500px
        position relative
        margin: 0 auto

        @media(max-width: 991px)
            flex-wrap: wrap

    &-left
        position: absolute
        font-family: 'Abril Fatface', cursive
        color: #fff
        font-size: 90px;
        line-height: 80px;
        text-align: left
        text-transform: uppercase
        left 40px
        top -90px
        z-index 1
        
        @media(max-width: 991px)
            position relative
            order: 2
            left 0
            top: 0
            font-size: 35px
            line-height: 50px
            width: 100%
            margin-left: 50px
            margin-top -50px

    &-center
        @media(max-width: 991px)
            order: -1
            padding: 0 15px

    &-botton
        position: absolute
        left 40px 
        bottom: 45px
        max-width 260px
    
        font-size: 24px;
        line-height: 30px;
        color: #FFFFFF;
        z-index 10

        a
            display: flex
            align-items: center
            
            font-size: 16px
            line-height: normal
            color: #FFFFFF;
            border: 1px solid #FEF8E0
            border-radius: 5px

            width 170px
            height 50px
            justify-content: center
            
            margin-top 50px

            @media(max-width: 991px)
                position relative
                bottom: 0
                right 0
                margin-left 50px
                margin-top 30px

            &:after
                content: ''
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAQCAMAAADDGrRQAAAAMFBMVEUAAAD/79//99/69N/799/89d/899/999/999//+OD/+OD++OD++OD++OD++eD++OCvfhw5AAAAD3RSTlMAECAwQFBggKCvv8/f7+/6mGr3AAAAOElEQVR42rXItQHAMAwEwDejpP2nDTNV8ZWHb6ma20XhRqnyiYyp5cpD2SNPEnGm63+Fci+4gFkPQpMDxUvq+GcAAAAASUVORK5CYII=')
                width 30px
                height 15px
                margin-left 10px
                display: block
                background-repeat: no-repeat
    

    &-right
        position: absolute
        top: -40px
        right -20px
        width: 191px;
        height: 191px;



.banner__historia
    padding: 60px 0
    background-size: cover!important
    background-repeat: no-repeat

    @media(max-width : 991px)
        padding: 0 0 60px

    &-container
        display: flex
        justify-content: center
        max-width 1200px
        position relative
        margin: 0 auto

        @media(max-width: 991px)
            flex-wrap: wrap

    &-left
        width: 50%

        @media(max-width: 991px)
            width 100%
            display: flex
            flex-wrap: wrap

        img
            margin-left 100px
            @media(max-width: 991px)
                order: -1
                width 100%
                margin-left 0
                position relative

        span
            position: absolute
            font-family: 'Abril Fatface', cursive
            color: #ECF6ED
            text-transform: uppercase
            font-size: 36px
            text-align: left
            margin-top 150px
            line-height: 50px

            @media(max-width: 991px)
                order: 2
                width 100%
                margin-left 0
                margin-top: 0
                position relative
                margin-left 50px
                

            strong
                font-size: 64px
                margin-top 10px
                display: block

                @media(max-width: 991px)
                    font-size: 35px

    &-right
        width 30%
        margin-left -50px
        text-align: left

        @media(max-width: 991px)
            width 100%
            margin-left 50px

        img
            position: absolute

            @media(max-width: 991px)
 
                top: 30%;
                right: 0;
                max-width: 100px;    
                display: none        
        
        p
            font-weight: 500
            font-size: 15px
            line-height: 25px
            color: #FFFFFF
            text-align: left
            max-width 400px    
            margin-top 150px

            @media(max-width: 991px)
                margin-top 30px

        a
            bottom: 50px
            right 220px
            font-size: 16px
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: bold;
            color: #FEF8E0;  
            display: flex
            align-items: center
            border: 1px solid #FEF8E0
            border-radius: 5px 
            width 210px
            height 50px
            justify-content: center
            margin-top 40px
            &:after
                content: ''
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAQCAMAAADDGrRQAAAAMFBMVEUAAAD/79//99/69N/799/89d/899/999/999//+OD/+OD++OD++OD++OD++eD++OCvfhw5AAAAD3RSTlMAECAwQFBggKCvv8/f7+/6mGr3AAAAOElEQVR42rXItQHAMAwEwDejpP2nDTNV8ZWHb6ma20XhRqnyiYyp5cpD2SNPEnGm63+Fci+4gFkPQpMDxUvq+GcAAAAASUVORK5CYII=')
                width 30px
                height 15px
                margin-left 10px
                display: block
                background-repeat: no-repeat            

body.home
    .banner__news
        margin: 100px auto!important

        @media(max-width: 991px)
            margin: 30px auto!important
            margin-top 100px!important
            

.bannerloja
    max-width 460px                
    min-height 260px
    width 100%
    background-repeat: no-repeat!important
    border-radius: 5px
    position relative

    &__rodape 
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px 15px

        p
            font-size: 15px
            color: #fff

        a
            text-transform: uppercase
            color: #FFFFFF    
            width 120px
            height 40px
            border-radius: 5px
            border: 1px solid #fff
            line-height: 40px
            text-align: center
            font-weight: 700
            font-size: 12px;
            display: flex
            align-items: center
            justify-content: center
            &:before
                content: ''
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAARCAMAAADe472QAAAANlBMVEUAAAD////////////////////////////////////////////////////////////////////xY8b8AAAAEXRSTlMAECAwUGBwf4CPn6Cwv8/f78tzf1sAAABjSURBVAjXTY7LDsMgEMQMLQl9wK7//2dzSEGdky3NSAOUc+psANRQ1ajAj3VAU41UbUy1Q1cHagIlNchbUIOhnpSX+qW70yibo8BnSQdq/j3gWAsAhur7ZmquEsBTH+z0A4AL8lsIIFQp3UQAAAAASUVORK5CYII=')
                width 12px
                height 18px
                display: block
                margin-right 5px


    span
        font-family: 'Abril Fatface', cursive
        color: #333333
        font-size: 60px
        text-transform: uppercase
        line-height: 60px
        margin-top -90px
        display: block
        font-weight: 400

        strong
            display: block
            color: #CFB486
            font-weight: 400